{{outlet}}

<section class="signal">
  <ol>
    <li class="{{if this.isInRed "red"}}">l</li>
    <li class="{{if this.isInAmber "amber"}}">l</li>
    <li class="{{if this.isInGreen "green"}}">l</li>
  </ol>
</section>

<fieldset>
  <legend>Control Panel</legend>

  {{#if this.isInOff}}
    <button type="button" {{on "click" this.powerUp}} disabled={{this.isLoading}}>Turn On</button>
  {{else}}
    {{#if this.doPowerDown}}
      <em>Please wait.</em>
    {{else}}
      <button type="button" {{on "click" this.powerDown}}>Turn Off</button>
    {{/if}}
  {{/if}}
</fieldset>

<section class="log">
  <ol>
    {{#each this.model.messages as |item|}}
      <li class="{{item.level}}">
        <span class="level">[{{item.level}}]</span>
        <span class="message">{{item.message}}</span>
      </li>
    {{/each}}
  </ol>
</section>
